@import "./Variables.scss";

.button{
    border-radius: 1rem;
    border: 0;
    font-size: 1rem;
    height: 2rem;
    line-height: 1.2rem;
    margin-right: 1rem;
    width: 6rem;
    border-width: 1px;
    border-style: solid;
    border-color: $white-color;
    color: $white-color;
    background-color: $white-color;
    outline: 0!important;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-10px);
	}
}

.button--login{
    color: $white-color;
    border-color: $white-color;
    background-color: $pink-color;
}

.button--signup{
    color: $pink-color;
    border-color: $pink-color;
    background-color: $white-color;
}

// .button--login:hover {
// 	animation: bounce 1s;
// }

// .button--signup:hover{
//     animation: bounce 1s;
// }

.button--logout{
    color: $white-color;
    border-color: $white-color;
    background-color: $pink-color;
}

// .button--logout:hover {
// 	animation: bounce 1s;
// }

.button--search{
    color: $white-color;
    border-color: $white-color;
    background-color: $pink-color;
    text-align: center;
    height: 100px;
    width: 300px;
    border-style: none;
    border-radius: 236.5px;
    font-size: 50px;
}

.button--search:focus{
    outline: none;
}

.button--comments{
    color: $pink-color;
    border-color: $pink-color;
    background-color: $white-color;
}

.button--commentsgraph{
    color: $pink-color;
    border-color: $pink-color;
    background-color: $white-color;
}

.button--tags{
    color: $pink-color;
    border-color: $pink-color;
    background-color: $white-color;
}