@import "./Variables.scss";

.comments-master-container {
  background-color: #ffcece;
  height: 400px;
  width: 100%;
  overflow: scroll;

  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .individual-comment {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
    animation: fadeInLeft 1s;
    
    #avatar-image {
      margin-right: 20px;
    }
    
    p {
      border-radius: 270.5px;
      font-size: 18px;
      min-height: 60px;
      height: 100%;
      width: 300px;
      background-color: white;
      text-align: center;
      padding: 0 10px;
    }

    .timestamp-badge-container {
      position: relative;
      width: 10px;

      #timestamp-badge {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    img {
      height: 60px;
      border-radius: 50%;
    }
  }
  .component-buttons {
    margin-top: 0.7em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    outline: none;
    border: none;
  }
  .icon-button {
    background: none;
    border-style: none;
    outline: none;
  }

  .comment-button {
    color: $pink-color;
    border-color: $pink-color;
    background-color: $white-color;
    height: 50px;
    border-radius: 1rem;
    outline: 0 !important;
    width: 100px;
  }
}

canvas {
  padding-left: 20px;
}
