@import './Variables.scss';

.comment-form-master-container {
  background-color: #FFF;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .comment-form {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    
    input[type="text"] {
      border-radius: 270.5px;
      font-size: 18px;
      height: 60px;
      width: 300px;
      background-color: #FFC5C5;
      text-align: center;
      border: none;
      outline: none;
      color: $red-color;
    }

    img {
      height: 60px;
      border-radius: 50%;
      margin-right: 2em;
    }
  }

  .comment-button{
    border-radius: 1rem;
    border: 0;
    height: 70px;
    width: 400px;
    color: #000;
    background-color: rgb(253, 81, 81);
    border-radius: 236.5px;
    font-size: 50px;
    font-weight: 500;
    line-height: 50%;
    outline: none;
  }

  #tag {
    border-radius: 270.5px;
    font-size: 18px;
    height: 30px;
    width: 300px;
    background-color: rgb(245, 153, 153);
    text-align: center;
    border: none;
    outline: none;
    color: $red-color;
    margin-left: 88px;
    margin-bottom: 0.3em;
  }
}