.video-form-master-container {
  display: flex;
  justify-content: center;
}

iframe {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

#video-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-width: 550px;
  align-items: center;
  margin-bottom: 20px;
  input:focus,input:active {
    outline: none !important;
    box-shadow: none;
  }

  #video-url-master {
    display: flex;
    align-items: center;
    background-color: #ff5757;
    border-radius: 236.5px;
    border: none;
    width: 90%;
    color: white;
    
    #video-url--prepend {
      background-color: #ffbebe;
      border-radius: 236.5px;
      width: 30%;
      padding: 1em;
      margin: 0.2em;
      text-align: center;
      font-size: 1.2em;
      font-weight: 500;
    }

    #video-url {
      color: white;
      outline: none;
      border: none;
      background-color: #ff5757;
      border-radius: 236.5;
      width: 60%;
      padding-right: 1em;
      text-align: center;
      font-size: 1.5em;
    }
    #video-url::placeholder {
      color:white;
      text-align: center;
    }
  }


  #video-name-master {
    display: flex;
    align-items: center;
    background-color: #ff5757;
    border-radius: 236.5px;
    border: none;
    width: 90%;
    color: white;
    margin-top: 0.5em;
    
    #video-name--prepend {
      background-color: #ffbebe;
      border-radius: 236.5px;
      width: 30%;
      padding: 1em;
      margin: 0.2em;
      text-align: center;
      font-size: 1.2em;
      font-weight: 500;
    }

    #video-name {
      color: white;
      border: none;
      background-color: #ff5757;
      border-radius: 236.5;
      width: 60%;
      padding-right: 1em;
      text-align: center;
      font-size: 1.5em;
    }
    #video-name::placeholder {
      color:white;
      text-align: center;
    }
  }

}
