@import './Variables.scss';

.search-video{
    margin: 50px 0;
    height: 150px;
    width: 550px;
    font-size: 155px;
    text-align: center;
    border-style: none;
    color: $red-color;
    outline: none;
    box-shadow: 0px 5px 0px 0px #020202;

}

.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.homepage-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}