@import './Variables.scss';



#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $white-color;
}

#logo-text {
    color: $pink-color;
    }

#nav-user-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
            

