@import './Variables.scss';

.name-label{
    color: $pink-color
}

.email-label{
    color: $pink-color
}

.password-label{
    color: $pink-color
}

#signup-form{
    margin-left: 10em;
    margin-right: 10em;
}