.tag-master-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @keyframes upDown {
    0% {
      
      transform: translateY(-10px);
   }
   50% {
      transform: translateY(0);
   }
   100%{
    transform: translateY(-10px);
   }
  }
  .down-arrow{
    color: white;
    height: 35px;
    width: 35px;
    padding: 2px;
    position: absolute;
    right: 25px;
    top: 270px;
    border-radius: 50%;
    background-color: red;
    animation: upDown 1s infinite;
  }

  h2 {
    margin: 0.5em;
  }
  
  .tag-container {
    display: grid;
    grid-template-columns: auto auto auto;
  
    .tag-capsule {
      background-color: #FF7878;
      border-radius: 236.5px;
      width: 100px;
      margin-right: 1em;
      margin-bottom: 0.5em;
      cursor: pointer;
  
      .tag-capsule-flex {
        display: flex;
        justify-content: center;
      }
    }

    .tag-capsule:hover {
      background-color: red;
    }
  }

  button {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding: 0;
  }

  #user-avatar {
    margin-right: 1em;
  }
}


