.tag-master-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @keyframes upDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
   }
   10%{
    opacity: 1;
      transform: translateY(0);
   }
   20%{
    opacity: 1;
      transform: translateY(-10px);
   }
   30%{
    opacity: 1;
      transform: translateY(0);
   }
   40%{
    opacity: 1;
      transform: translateY(-10px);
   }
   50%{
    opacity: 1;
      transform: translateY(0);
   }
   60%{
    opacity: 1;
      transform: translateY(-10px);
   }
   70%{
    opacity: 1;
      transform: translateY(0);
   }
   80% {
    opacity: 1;
      transform: translateY(-10px);
   }
   90%{
    opacity: 0.5;
    transform: translateY(0);
   }
   100%{
    opacity: 0;
    transform: translateY(-10px);
   }
  }
  
  .down-arrow{
    opacity: 0;
    color: white;
    height: 35px;
    width: 35px;
    padding: 2px;
    position: absolute;
    right: 25px;
    top: 270px;
    border-radius: 50%;
    background-color: red;
    //transition: opacity 4s ease-out;
    animation-iteration-count: 1;
    animation: upDown 5s linear;
  }

  h2 {
    margin: 0.5em;
  }
  
  .tag-container {
    display: grid;
    grid-template-columns: auto auto auto;
  
    .tag-capsule {
      background-color: #FF7878;
      border-radius: 236.5px;
      width: 100px;
      margin-right: 1em;
      margin-bottom: 0.5em;
      cursor: pointer;
  
      .tag-capsule-flex {
        display: flex;
        justify-content: center;
      }
    }

    .tag-capsule:hover {
      background-color: red;
    }
  }

  button {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding: 0;
  }

  
}


