@keyframes fadeInTop {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
.user-stats{
    display: flex;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    font-size: 20px; 
    animation: fadeInTop 1s;
    p{
        background-color: #FF7878;
        padding: 3px 20px;
        margin: 0 33px;
        border-radius: 40px;
    }
}