.video-master {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 500px;

  .video-container {
    background-color: rgb(38, 38, 38);
    width: 100%;
    max-width: 800px;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .video {
      width: 100%;
      margin: 1em;
    }
  
  }
  .spoiler-timebar-master {
    height: 50px;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .spoiler-bar {
      height: 20px;
      width: 90%;
      background-color: rgb(113, 113, 113);
      position: relative;

      .spoiler-time {
        height: 100%;
        width: 0%;
        background-color: rgb(255, 255, 255);
      }
      .comment-ticks {
        height: 100%;
        width: 3px;
        background-color: black;
        position: absolute;
        left: 0%;
        bottom: 0px;
      }

    }
  }

}
