.video-master {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 500px;

  .video-container {
    background-color: #C4C4C4;
    width: 100%;
    max-width: 800px;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .video {
      width: 100%;
      margin: 1em;
    }
  
  }
  .spoiler-timebar-master {
    height: 50px;
    width: 100%;
    background-color: #E34545;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .spoiler-bar {
      height: 10px;
      width: 90%;
      background-color: white;
      position: relative;

      .spoiler-time {
        height: 100%;
        width: 0%;
        background-color: #FFC5C5;
      }
      .comment-ticks {
        height: 20px;
        width: 5px;
        background-color: black;
        position: absolute;
        left: 0%;
        bottom: 0px;
      }

    }
  }

}
